@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-input{
  @apply  w-full rounded-[4px] border border-[#cac7c8] bg-transparent py-4 pl-6 pr-10 outline-none focus:border-primary focus-visible:shadow-none dark:focus:border-primary
}
.btn_primary{
  @apply   inline-flex justify-center items-center gap-10 px-[45px] py-[10px] lg:py-[17px] border border-[#54A3F2] rounded-[50px] bg-[#54A3F2]  text-white font-semibold leading-[26px] font-[Montserrat] uppercase hover:text-[#54A3F2]  hover:bg-white w-full md:w-auto focus-visible:outline-none z-[99]
}
html {
  scroll-behavior: smooth;
}

  button {
    transition: .3s;
  }

  button:hover {
    webkit-transition: all 350ms ease-in-out 0s;
    -moz-transition: all 350ms ease-in-out 0s;
    -ms-transition: all 350ms ease-in-out 0s;
    -o-transition: all 350ms ease-in-out 0s;
    transition: all 350ms ease-in-out 0s;
    opacity: 1;
  }

.hero-section {
  background: url("/images/hero.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::after {
  content: "";
  position: absolute;
  background: rgba(84, 163, 242, 0.15);
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
}

h1 {
  font-size: 70px;
}

.img-inner {
  opacity: 0;
  transition: ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.3s;
  visibility: hidden;
  pointer-events: auto;
}

.img-box:hover .img-inner {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: visible;
  opacity: 1;
}

.menu-list {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 1s ease;

}

.menu-list:hover {
  text-decoration: none;
  border-bottom: 1px solid white;
  /* font-weight: bold; */
  /* position: relative; */
}


/* ------------   icons hover ----------- */

.support_box .support-icon {
  transition: transform 1400ms;
  will-change: transform;
}

.support_box:hover .support-icon,
.support_box:focus .support-icon {
  transform: rotate(360deg);
  ;
}

.watch_btn{
  display: none;
  bottom: 10px;
  transition: display 1s ease; 
  /* transition-duration: 3s; */
}
.watch_img:hover .watch_btn{
  display: block;
  bottom: 0px;
}
/* ------------   icons hover ----------- */


@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 50px;

  }
}

@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1480px;
  }
}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1024px) {
  .hero-section {
    height: auto;
  }

  .hero-section::after {
    height: auto;
  }

  h1 {
    font-size: 30px;
  }

}


@media only screen and (max-width: 767px) {

  h1 {
    font-size: 30px;
    text-align: center;
  }

}

::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius:   6px; /* Radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}